<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Ambilight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
<userSettings>
        <Ambilight.Properties.Settings>
                <setting name="onoffHot" serializeAs="String">
                        <value>Control+F12</value>
                </setting>
                <setting name="flashHot" serializeAs="String">
                        <value>Control+F11</value>
                </setting>
                <setting name="comPort" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="enableWithFull" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="screen" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="strobespd1Key" serializeAs="String">
                        <value>112</value>
                </setting>
                <setting name="blinderKey" serializeAs="String">
                        <value>115</value>
                </setting>
                <setting name="strobespd2Key" serializeAs="String">
                        <value>113</value>
                </setting>
                <setting name="strobespd3Key" serializeAs="String">
                        <value>114</value>
                </setting>
                <setting name="delay" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="brightness" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="blinderHot" serializeAs="String">
                        <value>Control+F10</value>
                </setting>
                <setting name="strobespd1KeyName" serializeAs="String">
                        <value>F1</value>
                </setting>
                <setting name="strobespd2KeyName" serializeAs="String">
                        <value>F2</value>
                </setting>
                <setting name="strobespd3KeyName" serializeAs="String">
                        <value>F3</value>
                </setting>
                <setting name="blinderKeyName" serializeAs="String">
                        <value>F4</value>
                </setting>
                <setting name="exitHot" serializeAs="String">
                        <value>Win+Escape</value>
                </setting>
                <setting name="captureMode" serializeAs="String">
                        <value>GDI</value>
                </setting>
                <setting name="gamma" serializeAs="String">
                        <value>50</value>
                </setting>
        </Ambilight.Properties.Settings>
    </userSettings>
</configuration>
